:root {
    --primary: #1D2026;
    --secondary: #2e3137;
    --accent: darkslategrey;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    height: 100vh;
    margin: 0px;
    background-color: var(--primary);
}

a {
    color: rgb(244, 244, 244);
    background-color: var(--secondary);
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
}

p {
     color: rgb(244, 244, 244);
}

a:hover {
    background-color: rgb(222, 222, 222);
    transition: 400ms;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkslategrey;
    color: rgb(244, 244, 244);
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.5em;
}

main > a {
    text-align: center;
    background-color: gray;
    padding: 20px;
    border-radius: 12px; 
}

main > a:first-of-type {
    margin-top: 1em;
}

main > a:hover {
    background-color: rgb(146, 146, 146);
    transition: 400ms;
}

main > p {
    text-align: center;
    background-color: gray;
    padding: 20px;
    border-radius: 12px;
}

main > p:hover {
    background-color: rgb(146, 146, 146);
    transition: 400ms;
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategray;
    align-items: center;
}

nav > a {
    flex-grow: 1;
    margin: 4px;
    text-align: center;
}

#profileimg {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 4px solid darkslategray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}